<h2>{{header}}</h2>
<div *ngIf="story">
    <table class="table striped">
        <tr>
          <th><h1>Story Element</h1></th>
          <th><h1>Details</h1></th>
        </tr>
        <tr>
          <td>Race</td>
          <td>{{story.race}}</td>
        </tr>
        <tr>
          <td>Class</td>
          <td>{{story.classLabel}}</td>
        </tr>
        <tr>
          <td>I became a {{story.classLabel}} because...</td>
          <td>{{story.classReason}}</td>
        </tr>
        <tr>
          <td>Background</td>
          <td>{{story.background.label}}</td>
        </tr>
        <tr>
          <td>I became a {{story.background.label}} because...</td>
          <td>{{story.backgroundReason}}</td>
        </tr>
        <tr>
          <td>Family</td>
          <td>{{story.family}}</td>
        </tr>
        <tr>
          <td>Parents</td>
          <td>{{story.parentInfo}}</td>
        </tr>
        <tr *ngIf="story.absentParent">
          <td>Absent Parent</td>
          <td>{{story.absentParent}}</td>
        </tr>
        <tr>
          <td>Birthplace</td>
          <td>{{story.birthplace}}</td>
        </tr>
        <tr 
          *ngFor="let sibling of story.siblings; let i = index" [attr.data-index]="i">
          <td>Sibling {{i + 1}}</td>
          <td>{{sibling}}</td>
        </tr>
        <tr>
            <td>Family Lifestyle</td>
            <td>{{story.familyLifestyle}}</td>
          </tr>
          <tr>
            <td>Childhood Home</td>
            <td>{{story.childhoodHome}}</td>
          </tr>
          <tr>
            <td>Childhood Memories</td>
            <td>{{story.childhoodMemories}}</td>
          </tr>
      </table>
</div>
<div>
  <button class="bttn" (click)="getRandomStory()">Start Life Over</button>
  <button class="bttn" (click)="makeLifeHarder()">Make Life Harder</button>
</div>
